@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Description)
        </th>
    </tr>
@foreach(var book in Model.Books)
{
    <tr>
        <td>
            <a asp-page="/Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => book.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Description)
        </td>
    </tr>
}
</table>